{% from "navbar.html" import navbar %} {% from "imports.html" import imports %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        {{imports()}}
    </head>

    <body>
		{{navbar("Entradas")}}

        <main>

			{% if errorMessage %}

            <div class="p-5 mb-4 bg-danger rounded-3" id="errorMessage">
				{{errorMessage}}
			</div>
			{% endif %}

            <div class="p-5 mb-4 bg-primary rounded-3" id="novaEntrada">
                <h1>Nova Entrada</h1>
                <form action="/entradas" method="post">
                    <div>
                        <label for="descricao" class="form-label" style="color: white">Descrição</label>
                        <input type="text" name="descricao" id="descricao" class="form-control" />
                    </div>
                    <div>
                        <label for="valor" class="form-label" style="color: white">Valor</label>
                        <input type="text" name="valor" id="valor" class="form-control" />
                    </div>
                    <div>
                        <label for="data" class="form-label" style="color: white">Data</label>
                        <input type="text" name="data" id="data" class="form-control" />
                    </div>
                    <br />
                    <div>
                        <button class="btn btn-success btn-block" type="submit">Enviar</button>
                    </div>
                </form>
            </div>


			<div id="entradas">
				<ul>
					{% for item in entradas %}
						<li>{{ item.descricao }}</li>
					{% endfor %}
				</ul>
			</div>
        </main>
    </body>
</html>
